body {
  margin: 0;
  background: #F7F9ED;
}

.scroller {
  display: flex;
}

.images {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
  background-color: #C4DCD3;

  .image-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .first-image {
    opacity: 1;
  }
}

.texts {
  position: relative;
  width: 60%;
  margin-left: auto;

  .text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    padding: 6rem;
    box-sizing: border-box;

    p {
      font-family: 'Times New Roman', Times, serif;
      font-size: 1.2rem;
      font-weight: normal;
      line-height: 2;

      & + p {
        margin-top: 2rem;
      }
    }
  }
}


.other {
  width: 100%;
  background-color: #C4DCD3;

  p {
    margin: 0;
  }
}
